In [1]:
import pymongo

# Create a MongoDB client
client = pymongo.MongoClient("mongodb://localhost:27017/")

# Create the database
db = client["railway_reservation_system"]

# Create the collections
customers = db["customers"]
trains = db["trains"]
routes = db["routes"]
employees = db["employees"]
management = db["management"]
stations = db["stations"]
tickets = db["tickets"]
fares = db["fares"]
schedules = db["schedules"]

# Define the schema for the collections
customer_schema = {
    "customer_id": int,
    "name": str,
    "email": str,
    "phone_number": str,
    "address": str
}

train_schema = {
    "trainid": int,
    "type": str,
    "name": str,
    "seats": int
}

route_schema = {
    "route_id": int,
    "trainid": int,
    "from_station": str,
    "to_station": str,
    "distance": int
}

employee_schema = {
    "employee_id": int,
    "name": str,
    "address": str,
    "phone": str,
    "salary": float
}

management_schema = {
    "management_id": int,
    "employee_id": int,
    "name": str,
    "email": str,
    "phone_number": str,
    "address": str
}

station_schema = {
    "station_id": int,
    "route_id": int,
    "name": str,
    "location": str,
    "code": str
}

ticket_schema = {
    "ticket_id": int,
    "trainid": int,
    "class": str,
    "departure_date": str,
    "customer_id": int
}

fare_schema = {
    "fare_id": int,
    "ticket_id": int,
    "class": str
}

schedule_schema = {
    "schedule_id": int,
    "management_id": int,
    "trainid": int,
    "departure_time": str,
    "arrival_time": str
}

# Set up the references between the collections
routes.create_index([("trainid", pymongo.ASCENDING)])
stations.create_index([("route_id", pymongo.ASCENDING)])
tickets.create_index([("trainid", pymongo.ASCENDING)])
tickets.create_index([("customer_id", pymongo.ASCENDING)])
fares.create_index([("ticket_id", pymongo.ASCENDING)])
schedules.create_index([("management_id", pymongo.ASCENDING)])
schedules.create_index([("trainid", pymongo.ASCENDING)])

# Insert example data into the collections
customers.insert_one({"customer_id": 1, "name": "John Doe", "email": "john@example.com", "phone_number": "123-456-7890", "address": "123 Main St"})
trains.insert_one({"trainid": 1, "type": "Express", "name": "Express 1", "seats": 100})
routes.insert_one({"route_id": 1, "trainid": 1, "from_station": "Station A", "to_station": "Station B", "distance": 50})
employees.insert_one({"employee_id": 1, "name": "Jane Smith", "address": "456 Main St", "phone": "234-567-8901", "salary": 50000.00})
management

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'railway_reservation_system'), 'management')

In [2]:
customers.insert_one({"customer_id": 2, "name": "Parag Jain", "email": "parag@example.com", "phone_number": "123-784-7891", "address": "123 Health St"})

In [5]:
from pymongo import MongoClient
import random
import string


# generate dummy data for each schema
for i in range(20):
    # generate dummy data for customers
    customer_data = {
        "customer_id": i + 1,
        "name": ''.join(random.choices(string.ascii_uppercase, k=5)),
        "email": ''.join(random.choices(string.ascii_lowercase, k=5)) + "@example.com",
        "phone_number": ''.join(random.choices(string.digits, k=10)),
        "address": ''.join(random.choices(string.ascii_uppercase + string.digits, k=10))
    }
    customers.insert_one(customer_data)

    # generate dummy data for trains
    train_data = {
        "trainid": i + 1,
        "type": ''.join(random.choices(["local", "express"])),
        "name": ''.join(random.choices(string.ascii_uppercase, k=5)),
        "seats": random.randint(50, 100)
    }
    trains.insert_one(train_data)

    # generate dummy data for routes
    route_data = {
        "route_id": i + 1,
        "trainid": random.randint(1, 20),
        "from_station": ''.join(random.choices(string.ascii_uppercase, k=5)),
        "to_station": ''.join(random.choices(string.ascii_uppercase, k=5)),
        "distance": random.randint(100, 500)
    }
    routes.insert_one(route_data)

In [6]:

employee_data = [
    {"employee_id": 1, "name": "John Doe", "address": "123 Main St", "phone": "555-1234", "salary": 50000.0},
    {"employee_id": 2, "name": "Jane Smith", "address": "456 Oak Ave", "phone": "555-5678", "salary": 60000.0},
    {"employee_id": 3, "name": "Bob Johnson", "address": "789 Elm St", "phone": "555-9012", "salary": 55000.0},
    {"employee_id": 4, "name": "Alice Lee", "address": "321 Maple St", "phone": "555-3456", "salary": 65000.0},
    {"employee_id": 5, "name": "David Kim", "address": "654 Pine St", "phone": "555-7890", "salary": 70000.0}
]
db.employees.insert_many(employee_data)

# management
management_data = [
    {"management_id": 1, "employee_id": 1, "name": "John Doe", "email": "johndoe@example.com", "phone_number": "555-1234", "address": "123 Main St"},
    {"management_id": 2, "employee_id": 2, "name": "Jane Smith", "email": "janesmith@example.com", "phone_number": "555-5678", "address": "456 Oak Ave"},
    {"management_id": 3, "employee_id": 3, "name": "Bob Johnson", "email": "bobjohnson@example.com", "phone_number": "555-9012", "address": "789 Elm St"},
    {"management_id": 4, "employee_id": 4, "name": "Alice Lee", "email": "alicelee@example.com", "phone_number": "555-3456", "address": "321 Maple St"},
    {"management_id": 5, "employee_id": 5, "name": "David Kim", "email": "davidkim@example.com", "phone_number": "555-7890", "address": "654 Pine St"}
]
db.management.insert_many(management_data)

# station
station_data = [
    {"station_id": 1, "route_id": 1, "name": "Station A", "location": "City X", "code": "AXY"},
    {"station_id": 2, "route_id": 1, "name": "Station B", "location": "City Y", "code": "BYX"},
    {"station_id": 3, "route_id": 2, "name": "Station C", "location": "City Z", "code": "CZY"},
    {"station_id": 4, "route_id": 2, "name": "Station D", "location": "City X", "code": "DXZ"},
    {"station_id": 5, "route_id": 3, "name": "Station E", "location": "City Y", "code": "EYX"}
]
db.stations.insert_many(station_data)

In [10]:

from datetime import datetime
for i in range(5):
    ticket = {
        "ticket_id": i+1,
        "trainid": random.randint(1, 10),
        "class": random.choice(['Economy', 'Business', 'First']),
        "departure_date": datetime.now().strftime("%Y-%m-%d"),
        "customer_id": random.randint(1, 20)
    }
    tickets.append(ticket)

# Dummy data for fare_schema
fares = []
for i in range(5):
    fare = {
        "fare_id": i+1,
        "ticket_id": i+1,
        "class": random.choice(['Economy', 'Business', 'First'])
    }
    fares.append(fare)

In [12]:
dummy_data = [
    {
        "schedule_id": 1,
        "management_id": 101,
        "trainid": 1,
        "departure_time": "2022-05-01 08:00:00",
        "arrival_time": "2022-05-01 16:00:00"
    },
    {
        "schedule_id": 2,
        "management_id": 102,
        "trainid": 2,
        "departure_time": "2022-05-02 10:00:00",
        "arrival_time": "2022-05-02 20:00:00"
    },
    {
        "schedule_id": 3,
        "management_id": 103,
        "trainid": 3,
        "departure_time": "2022-05-03 12:00:00",
        "arrival_time": "2022-05-03 22:00:00"
    },
    {
        "schedule_id": 4,
        "management_id": 104,
        "trainid": 4,
        "departure_time": "2022-05-04 14:00:00",
        "arrival_time": "2022-05-04 23:00:00"
    },
    {
        "schedule_id": 5,
        "management_id": 105,
        "trainid": 5,
        "departure_time": "2022-05-05 16:00:00",
        "arrival_time": "2022-05-05 01:00:00"
    }
]

db.schedules.insert_many(dummy_data)

In [13]:
# Adding dummy data to the ticket schema
ticket_data = [
    {"ticket_id": 1, "trainid": 1234, "class": "Economy", "departure_date": "2023-05-15", "customer_id": 101},
    {"ticket_id": 2, "trainid": 5678, "class": "First Class", "departure_date": "2023-06-23", "customer_id": 102},
    {"ticket_id": 3, "trainid": 9012, "class": "Business", "departure_date": "2023-07-30", "customer_id": 103},
    {"ticket_id": 4, "trainid": 3456, "class": "Economy", "departure_date": "2023-08-18", "customer_id": 104},
    {"ticket_id": 5, "trainid": 7890, "class": "First Class", "departure_date": "2023-09-25", "customer_id": 105}
]

db.tickets.insert_many(ticket_data)

# Adding dummy data to the fare schema
fare_data = [
    {"fare_id": 1, "ticket_id": 1, "class": "Economy"},
    {"fare_id": 2, "ticket_id": 2, "class": "First Class"},
    {"fare_id": 3, "ticket_id": 3, "class": "Business"},
    {"fare_id": 4, "ticket_id": 4, "class": "Economy"},
    {"fare_id": 5, "ticket_id": 5, "class": "First Class"}
]

db.fares.insert_many(fare_data)

In [18]:
#Query 1 to get all customers who have booked tickets for a particular train:
train_id = 3
tickets = db.tickets.find({'trainid': train_id})
customer_ids = [ticket['customer_id'] for ticket in tickets]
customers = db.customers.find({'customer_id': {'$in': customer_ids}})
print(f'Query to get all customers who have booked tickets for a particular: {customers}')

#This query retrieves all the tickets booked for a specific train and extracts the customer IDs from the tickets. Then it finds all the customers whose IDs match the extracted IDs.

Query to get all customers who have booked tickets for a particular: <pymongo.cursor.Cursor object at 0x7f840a13a130>

In [17]:
#Query 2 to get the total distance covered by a particular train:
train_id = 7
routes = db.routes.find({'trainid': train_id})
total_distance = sum([route['distance'] for route in routes])
print(f'Total distance covered by train {train_id}: {total_distance} km')

#This query retrieves all the routes covered by a specific train and calculates the total distance covered by summing up the distance of each route.

Total distance covered by train 7: 0 km

In [19]:
#Query 3 to get the average salary of employees:
avg_salary = db.employees.aggregate([
    {
        '$group': {
            '_id': None,
            'avg_salary': {'$avg': '$salary'}
        }
    }
]).next()['avg_salary']

print(f'Average employee salary: {avg_salary}')


#This query uses the $group aggregation operator to group all employees together and calculate the average salary across all of them.

Average employee salary: 57142.857142857145

In [21]:
#Query 4 to get the name and location of all stations on a particular route:
route_id = 3
stations = db.stations.find({'route_id': route_id}, {'_id': 0, 'name': 1, 'location': 1})
for station in stations:
    print(station)
#This query finds all the stations on a particular route and returns their names and locations.

{'name': 'Station E', 'location': 'City Y'}

In [26]:
#Query 5 to get the number of tickets sold for each class on a particular train:
train_id = 5
tickets = db.tickets.find({'trainid': train_id})
class_counts = {}
for ticket in tickets:
    class_ = ticket['class']
    if class_ not in class_counts:
        class_counts[class_] = 0
    class_counts[class_] += 1
print(f'Ticket sales for train {train_id}:')
for class_, count in class_counts.items():
    print(f'{class_}: {count}')
    
    
#This query finds the total number of tickets sold for each class on particular train. \
#This helps determine each class's tickets sold

Ticket sales for train 5:
First Class